.app {
  width: 100%;
  height: 100%;
}

.btn {
  border: none !important;
  margin: 0px 25px !important;
  padding: 0 !important;
  text-transform: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
  transition: border-color 350ms;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  border-bottom: 1px solid !important;
  border-radius: 0 !important;
  transition: border-color 350ms;
}

.btn-group {
  width: 100% !important;
  padding: 20px 0px;
  color: black !important;
}

.space {
  min-width: 0;
  flex-grow: 1;
}

.menu-active {
  border-bottom: 1px solid !important;
  border-radius: 0 !important;
}

.box {
  border: 1px solid;
  box-sizing: border-box;
}

.grid {
  margin: 0 !important;
  width: 100% !important;
  height: calc(100vh - 66px) !important;
}

.resources {
  margin: 0px 20px 0 20px;
}

h4 {
  text-align: center;
  color: #808080 !important;
  margin-bottom: 50px;
}

.zbytek {
  margin-top: 15px;
  width: 100%;
  height: 45vh;
  flex-grow: 1;
}


.gmap {
  display: flex;
  height: 100%;
}

.space-20 {
  height: 20px;
}

.parking-interval {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.item-space {
  margin-top: 10px!important;
  margin-bottom:  10px!important;
}
