.btn {
  border: none!important;
  margin: 0px 25px!important;
  padding: 0!important;
  text-transform: none!important;
  border-bottom: 1px solid rgba(0,0,0,0)!important;
  transition: border-color 350ms;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0)!important;
  border-bottom: 1px solid !important;
  box-sizing: content-box!important;
  border-radius: 0!important;
  transition: border-color 350ms;
}

.btn-group{
  width: 100%!important;
  padding: 20px 0px;
}

.space {
  min-width: 0;
  flex-grow: 1;
}

